json_flows/color_flows.json
[{"id":"4bf82a62.fea0c4","type":"tab","label":"Color flows","disabled":false,"info":""},{"id":"e866afc8.0c1d6","type":"inject","z":"4bf82a62.fea0c4","name":"launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":300,"wires":[["56b11beb.08ee54"]]},{"id":"56b11beb.08ee54","type":"function","z":"4bf82a62.fea0c4","name":"format","func":"var red = 0;\nvar green = 255;\nvar blue = 0;\nvar blink_frequency_sec = 1;\n\nmsg.payload = red + \" \" + green + \" \" + blue + \" \" + blink_frequency_sec;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["e1bd162.8a588e8"]]},{"id":"e1bd162.8a588e8","type":"exec","z":"4bf82a62.fea0c4","command":"python /color.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"color blink","x":760,"y":300,"wires":[["42181e36.23d9b"],["42181e36.23d9b"],["42181e36.23d9b"]]},{"id":"42181e36.23d9b","type":"debug","z":"4bf82a62.fea0c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":300,"wires":[]},{"id":"d168b93b.053838","type":"exec","z":"4bf82a62.fea0c4","command":"killall -s 2 python ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"kill","x":750,"y":420,"wires":[["e6d5a69d.f79f38"],["e6d5a69d.f79f38"],["e6d5a69d.f79f38"]]},{"id":"795271d4.cbec3","type":"inject","z":"4bf82a62.fea0c4","name":"kill","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":420,"wires":[["d168b93b.053838"]]},{"id":"e6d5a69d.f79f38","type":"debug","z":"4bf82a62.fea0c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":420,"wires":[]},{"id":"402225c0.0b57ec","type":"inject","z":"4bf82a62.fea0c4","name":"launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":180,"wires":[["4972c1df.c0b06"]]},{"id":"4972c1df.c0b06","type":"exec","z":"4bf82a62.fea0c4","command":"python /ledtest.py -c","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"test","x":750,"y":180,"wires":[["794d62e0.c1b70c"],["794d62e0.c1b70c"],["794d62e0.c1b70c"]]},{"id":"794d62e0.c1b70c","type":"debug","z":"4bf82a62.fea0c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":180,"wires":[]}]